// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.


// ALERT

@each $color, $value in $theme-colors {
    .alert-#{$color} {
        color: $value;
        background-color: theme-color($color, "background");
        border-color: $value;
    
        .alert-icon,
        svg {
            color: $value;
        }
    }
}


// NAVS

.nav-link {
    @include hover-focus() {
      color: $primary;
    }
  }