$fontFamily1: 'Roboto' !default;
$fontFamily2: 'Roboto' !default;
$fontFamily3: 'HelveticaNeue' !default;
$fontFamily4: 'TimesNewRoman' !default;

$primaryColor1: #4D7EFB !default;
$primaryColor2: #3863D0 !default;
$secondaryColor1: #281E4D !default;
$secondaryColor2: #FFFFFF !default;
$tertiaryColor1: #0094E3 !default;
$tertiaryColor2: #FF9D00 !default;
$textColorBgWhite1: #24305D !default;
$textColorBgWhite2: #4C5884 !default;
$textColorBgWhite3: #ACB1CA !default;
$textColorBgDark1: #B0B8E6 !default;
$textColorBgDark2: #FFFFFF !default;

$lightColor: #FFFFFF !default;
$darkColor: #24305D !default;

$dangerColor: #E34242 !default;
$warningColor: #FFA850 !default;
$successColor: #38C976 !default;
$infoColor: #33A5EE !default;
$linkColor: #0094e3 !default;

$grvBorderColor1: #E3E3E3 !default;
$grvBorderColor2: #CFD7E2 !default;
$grvBorderColor3: #999999 !default;
$grvBgColor1: #F0F5FC !default;
$grvBgColor2: #C6CBD0 !default;
$grvBgColor3: #fafafa !default;
$grvBoxShadowColor1: rgba(137, 137, 137, 0.161) !default;
$grvBoxShadowColor2: rgba(0, 0, 0, 0.15) !default;