// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/edx/paragon/blob/master/scss/core/ for reference

// GENERIC VARIABLES

$fontFamily1: 'Roboto' !default;
$fontFamily2: 'Roboto' !default;
$fontFamily3: 'HelveticaNeue' !default;
$fontFamily4: 'TimesNewRoman' !default;

$primary: #4D7EFB !default;
$secondary: #281E4D !default;
$brand: #4D7EFB !default;

$success: #38C976 !default;
$info: #33A5EE !default;
$danger: #E34242 !default;
$warning: #FFA850 !default;
$light: #E1DDDB !default;
$dark: #24305D !default;

$body-color: $dark !default; 
$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;
$border-width: 1px !default;
$border-color: #D3D8ED !default;

$border-radius: 0.25rem !default;
$border-radius-lg: 0.425rem !default;
$border-radius-sm: 0.25rem !default;

$text-muted: #ACB1CA !default;

$link-color: #0094e3 !default;

$font-family-sans-serif: $fontFamily2;
$font-family-monospace: $fontFamily2;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-semi-bold: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$font-size-base: 0.938rem !default;

$h1-font-size: 1.75rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.063rem !default;
$h4-font-size: 0.938rem !default;
$h5-font-size: 0.938rem !default;
$h6-font-size: 0.938rem !default;

$h1-mobile-font-size: $h1-font-size !default;
$h2-mobile-font-size: $h2-font-size !default;
$h3-mobile-font-size: $h3-font-size !default;
$h4-mobile-font-size: $h4-font-size !default;
$h5-mobile-font-size: $h5-font-size !default;
$h6-mobile-font-size: $h6-font-size !default;

$headings-color: $body-color !default;

$input-btn-font-size: 0.938rem !default;
$input-btn-focus-box-shadow: 0 0 6px $primary !default;

$white:    #fff !default;
$gray-100: #ebebeb !default;
$gray-200: #cccccc !default;
$gray-300: #adadad !default;
$gray-400: #8f8f8f !default;
$gray-500: #707070 !default;
$gray-600: #5c5c5c !default;
$gray-700: #454545 !default;
$gray-800: #333333 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);


$blue: #23419f !default;
$red: #C32D3A !default;
$yellow: #ffd900 !default;
$green: #178253 !default;
$teal: #006DAA !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue": $blue,
    "green": $green,
    "teal": $teal,
    "red": $red,
    "yellow": $yellow,
    "white": $white,
    "gray": $gray-500,
    "dark-gray": $gray-700,
  ),
  $colors
);

$accent-a: #00BBF9 !default;
$accent-b: #FFEE88 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "brand":      $brand,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "gray":       $gray-500,
    "accent-a":   $accent-a,
    "accent-b":   $accent-b,
  ),
  $theme-colors
);

$primary-100: mix(white, $primary,  94%) !default;
$primary-200: mix(white, $primary,  75%) !default;
$primary-300: mix(white, $primary,  50%) !default;
$primary-400: mix(white, $primary,  25%) !default;
$primary-500: $primary !default;
$primary-600: mix(black, $primary,  10%) !default;
$primary-700: mix(black, $primary,  20%) !default;
$primary-800: mix(black, $primary,  25%) !default;
$primary-900: mix(black, $primary,  30%) !default;

$secondary-100: mix(white, $secondary,  94%) !default;
$secondary-200: mix(white, $secondary,  75%) !default;
$secondary-300: mix(white, $secondary,  50%) !default;
$secondary-400: mix(white, $secondary,  25%) !default;
$secondary-500: $secondary !default;
$secondary-600: mix(black, $secondary,  10%) !default;
$secondary-700: mix(black, $secondary,  20%) !default;
$secondary-800: mix(black, $secondary,  25%) !default;
$secondary-900: mix(black, $secondary,  30%) !default;

$brand-100: mix(white, $brand,  94%) !default;
$brand-200: mix(white, $brand,  75%) !default;
$brand-300: mix(white, $brand,  50%) !default;
$brand-400: mix(white, $brand,  25%) !default;
$brand-500: $brand !default;
$brand-600: mix(black, $brand,  10%) !default;
$brand-700: mix(black, $brand,  20%) !default;
$brand-800: mix(black, $brand,  25%) !default;
$brand-900: mix(black, $brand,  30%) !default;

$success-100: mix(white, $success,  94%) !default;
$success-200: mix(white, $success,  75%) !default;
$success-300: mix(white, $success,  50%) !default;
$success-400: mix(white, $success,  25%) !default;
$success-500: $success !default;
$success-600: mix(black, $success,  10%) !default;
$success-700: mix(black, $success,  20%) !default;
$success-800: mix(black, $success,  25%) !default;
$success-900: mix(black, $success,  30%) !default;

$info-100: mix(white, $info,  94%) !default;
$info-200: mix(white, $info,  75%) !default;
$info-300: mix(white, $info,  50%) !default;
$info-400: mix(white, $info,  25%) !default;
$info-500: $info !default;
$info-600: mix(black, $info,  10%) !default;
$info-700: mix(black, $info,  20%) !default;
$info-800: mix(black, $info,  25%) !default;
$info-900: mix(black, $info,  30%) !default;

$warning-100: mix(white, $warning,  94%) !default;
$warning-200: mix(white, $warning,  75%) !default;
$warning-300: mix(white, $warning,  50%) !default;
$warning-400: mix(white, $warning,  25%) !default;
$warning-500: $warning !default;
$warning-600: mix(black, $warning,  10%) !default;
$warning-700: mix(black, $warning,  20%) !default;
$warning-800: mix(black, $warning,  25%) !default;
$warning-900: mix(black, $warning,  30%) !default;

$danger-100: mix(white, $danger,  94%) !default;
$danger-200: mix(white, $danger,  75%) !default;
$danger-300: mix(white, $danger,  50%) !default;
$danger-400: mix(white, $danger,  25%) !default;
$danger-500: $danger !default;
$danger-600: mix(black, $danger,  10%) !default;
$danger-700: mix(black, $danger,  20%) !default;
$danger-800: mix(black, $danger,  25%) !default;
$danger-900: mix(black, $danger,  30%) !default;

$light-100: mix(white, $light,  94%) !default;
$light-200: mix(white, $light,  75%) !default;
$light-300: mix(white, $light,  50%) !default;
$light-400: mix(white, $light,  25%) !default;
$light-500: $light !default;
$light-600: mix(black, $light,  10%) !default;
$light-700: mix(black, $light,  20%) !default;
$light-800: mix(black, $light,  25%) !default;
$light-900: mix(black, $light,  30%) !default;

$dark-100: mix(white, $dark,  94%) !default;
$dark-200: mix(white, $dark,  75%) !default;
$dark-300: mix(white, $dark,  50%) !default;
$dark-400: mix(white, $dark,  25%) !default;
$dark-500: $dark !default;
$dark-600: mix(black, $dark,  10%) !default;
$dark-700: mix(black, $dark,  20%) !default;
$dark-800: mix(black, $dark,  25%) !default;
$dark-900: mix(black, $dark,  30%) !default;

$theme-color-levels: () !default;

$theme-color-levels: map-merge(
  (
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900,

  "primary-100": $primary-100,
  "primary-200": $primary-200,
  "primary-300": $primary-300,
  "primary-400": $primary-400,
  "primary-500": $primary-500,
  "primary-600": $primary-600,
  "primary-700": $primary-700,
  "primary-800": $primary-800,
  "primary-900": $primary-900,

  "secondary-100": $secondary-100,
  "secondary-200": $secondary-200,
  "secondary-300": $secondary-300,
  "secondary-400": $secondary-400,
  "secondary-500": $secondary-500,
  "secondary-600": $secondary-600,
  "secondary-700": $secondary-700,
  "secondary-800": $secondary-800,
  "secondary-900": $secondary-900,

  "brand-100": $brand-100,
  "brand-200": $brand-200,
  "brand-300": $brand-300,
  "brand-400": $brand-400,
  "brand-500": $brand-500,
  "brand-600": $brand-600,
  "brand-700": $brand-700,
  "brand-800": $brand-800,
  "brand-900": $brand-900,

  "success-100": $success-100,
  "success-200": $success-200,
  "success-300": $success-300,
  "success-400": $success-400,
  "success-500": $success-500,
  "success-600": $success-600,
  "success-700": $success-700,
  "success-800": $success-800,
  "success-900": $success-900,

  "info-100": $info-100,
  "info-200": $info-200,
  "info-300": $info-300,
  "info-400": $info-400,
  "info-500": $info-500,
  "info-600": $info-600,
  "info-700": $info-700,
  "info-800": $info-800,
  "info-900": $info-900,

  "warning-100": $warning-100,
  "warning-200": $warning-200,
  "warning-300": $warning-300,
  "warning-400": $warning-400,
  "warning-500": $warning-500,
  "warning-600": $warning-600,
  "warning-700": $warning-700,
  "warning-800": $warning-800,
  "warning-900": $warning-900,

  "danger-100": $danger-100,
  "danger-200": $danger-200,
  "danger-300": $danger-300,
  "danger-400": $danger-400,
  "danger-500": $danger-500,
  "danger-600": $danger-600,
  "danger-700": $danger-700,
  "danger-800": $danger-800,
  "danger-900": $danger-900,

  "light-100": $light-100,
  "light-200": $light-200,
  "light-300": $light-300,
  "light-400": $light-400,
  "light-500": $light-500,
  "light-600": $light-600,
  "light-700": $light-700,
  "light-800": $light-800,
  "light-900": $light-900,

  "dark-100": $dark-100,
  "dark-200": $dark-200,
  "dark-300": $dark-300,
  "dark-400": $dark-400,
  "dark-500": $dark-500,
  "dark-600": $dark-600,
  "dark-700": $dark-700,
  "dark-800": $dark-800,
  "dark-900": $dark-900,
  ),
  $theme-color-levels
);

$element-color-levels: () !default;

$element-color-levels: map-merge(
  (
    "background": 100,
    "disabled-border": 100,
    "border": 200,
    "icon": 300,
    "active-border": 300,
    "focus": 300,
    "graphic": 300,
    "default": 500,
    "light-text": 500,
    "hover": 700,
    "text": 700,
    "active": 900,
    "dark-text": 900,
  ),
  $element-color-levels
);

$component-active-color: $white !default;
$component-active-bg: theme-color("primary") !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


// FORM VARIABLES

@import './components/form';

// ALERT VARIABLES

$alert-padding-y: 0.625rem !default;
$alert-padding-x: 0.938rem !default;
$alert-title-color: $body-color !default;
$alert-box-shadow: none !default;
$alert-content-color: $body-color !default;


// DROPDOWN VARIABLES

$dropdown-link-color: $body-color !default;
$dropdown-link-hover-color: $primary !default;
$dropdown-item-padding-y: .5rem !default;


// NAVS VARIABLES

$nav-link-color: $body-color !default;


// COLLAPSIBLE

$collapsible-card-body-spacer-left: 2rem !default;


// DATATABLE

$data-table-box-shadow: none !default;
$data-table-cell-padding: 0.75rem 1rem !default;
$table-cell-padding: 1rem !default;


// BADGES

$badge-font-size:                   80% !default;
$badge-font-weight:                 $font-weight-normal !default;
$badge-padding-y:                   .25rem !default;
$badge-padding-x:                   .5rem !default;
$badge-border-radius:               .25rem !default;


// BUTTTONS + FORMS

$input-btn-padding-y:         0.5625rem !default;
$input-btn-padding-x:         1rem !default;
$input-btn-font-family:       null !default;
$input-btn-font-size:         1.125rem !default;
$input-btn-line-height:       1.3333 !default;

$input-btn-focus-width:       1px !default;
$input-btn-focus-color:       $component-active-bg !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-padding-y-sm:         0.4375rem !default;
$input-btn-padding-x-sm:         0.75rem !default;
$input-btn-font-size-sm:         0.875rem !default;
$input-btn-line-height-sm:       1.42858 !default;

$input-btn-padding-y-lg:      0.6875rem !default;
$input-btn-padding-x-lg:      1.25rem !default;
$input-btn-font-size-lg:      1.325rem !default;
$input-btn-line-height-lg:    $line-height-lg !default;

$input-btn-border-width:      $border-width !default;


// BUTTONS
@import './components/button';